<!DOCTYPE NETSCAPE-Bookmark-file-1>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<TITLE>Bookmarks</TITLE>
<H1>Bookmarks</H1>
<DL>
<DT><H3>switch相关</H3>
<DL><p>
<DT><A HREF="https://www.91wii.com/thread-119326-1-1.html">NS主题鉴赏，*.nxtheme格式主题安装软件及教学!!目前最新版本为 NXThemes 2.3.3Switch主题分享 - Powered by Discuz!</A>
<DT><A HREF="https://www.91wii.com/thread-196703-1-1.html">tx系统 序列号删除、备份、恢复器-中文版Switch 工具研究区 - Powered by Discuz!</A>
</DL><p>
<DT><H3>temp</H3>
<DL><p>
<DT><A HREF="https://www.4330.cn/">大牛论坛_破解软件_原创软件_游戏娱乐 - www.4330.cn</A>
</DL><p>
<DT><H3>0-vmk学习与娱乐(不特殊说明的均为QQ邮箱注册)</H3>
<DL><p>
<DT><H3>1学习/技术/资源</H3>
<DL><p>
<DT><A HREF="https://www.xiacoo.com/">0-虾库网(已注册vmk)</A>
<DT><A HREF="https://www.jianshu.com/">0-科学/人文/综合百汇-简书(QQ登陆)</A>
<DT><A HREF="https://www.zhihu.com/">0-科学/人文/综合百汇-知乎(QQ登陆)</A>
<DT><A HREF="https://tieba.baidu.com/">0-科学/人文/综合百汇-百度贴吧(QQ登陆)</A>
<DT><A HREF="https://github.com/">1-计算机(00)-GitHub(已注册vmkjack)</A>
<DT><A HREF="https://www.52pojie.cn/">1-计算机(综合01)-吾爱破解(已注册ABCXVX)</A>
<DT><A HREF="https://home.cnblogs.com/">1-计算机(综合02)-博客园(已注册)</A>
<DT><A HREF="www.jb51.net">1-计算机(综合03)-脚本之家</A>
<DT><A HREF="https://www.w3school.com.cn/">1-计算机(综合04)-w3school</A>
<DT><A HREF="https://www.oschina.net/">1-计算机(综合05)-OSCHINA开源中国(已注册vmk)</A>
<DT><A HREF="https://www.csdn.net/">1-计算机(综合06)-CSDN(QQ登陆)</A>
<DT><A HREF="https://fishc.com.cn/">1-计算机(综合07)-鱼C工作室(已注册ABCXVX)</A>
<DT><A HREF="https://www.xuepojie.com/">1-计算机(综合08)-学破解论坛(已注册ABCXVX)</A>
<DT><A HREF="https://www.onlinedown.net/">1-计算机(软件01)华军软件园</A>
<DT><A HREF="https://www.sdbeta.com/">1-计算机(软件02)-闪电吧</A>
<DT><A HREF="http://www.zdfans.com/">1-计算机(软件03)-zd423</A>
<DT><A HREF="http://m.17crack.com/">1-计算机(软件04)-17软件下载</A>
<DT><A HREF="https://www.cr173.com/">1-计算机(软件05)-西西游戏网</A>
<DT><A HREF="http://www.downxia.com/">1-计算机(软件06)-当下软件园</A>
<DT><A HREF="http://mydown.yesky.com/">1-计算机(软件07)-天极下载</A>
<DT><A HREF="https://www.52z.com/">1-计算机(软件08)-飞翔下载</A>
<DT><A HREF="http://www.ypojie.com/">1-计算机(软件09)-易破解</A>
<DT><A HREF="https://www.jetbrains.com/">1-计算机(软件10)-JetBrains</A>
<DT><A HREF="https://www.cncrk.com/">1-计算机(软件11)-起点软件下载</A>
<DT><A HREF="http://down.chinaz.com/">1-计算机(源码01)-站长下载</A>
<DT><A HREF="https://www.mycodes.net/162/">1-计算机(源码02)-源码之家</A>
<DT><A HREF="https://forum.ubuntu.org.cn/">1-计算机(系统01)-Ubuntu中文论坛 (已注册)</A>
<DT><A HREF="https://m.linuxidc.com/">1-计算机(系统02)-Linux公社手机站</A>
</DL><p>
<DT><H3>2动漫</H3>
<DL><p>
<DT><H3>帖式UI</H3>
<DL><p>
<DT><A HREF="https://www.hmoe.one/">0-萌幻之乡</A>
<DT><A HREF="https://nicemoe.xyz/">1(00)-好萌动漫网址发布页(已注册ABCXVX)</A>
<DT><A HREF="https://nicemoe01.github.io/">1(01)-好萌动漫网址发布页(已注册ABCXVX)</A>
<DT><A HREF="https://nicemoe11.com/">1(02)-好萌动漫(已注册ABCXVX)</A>
<DT><A HREF="https://18moe.us/sign">2-萌次元(已注册ABCXVX)</A>
<DT><A HREF="https://www.liuli.se/">3-琉璃神社(神秘代码为磁力)</A>
<DT><A HREF="https://www.hacg.tw/wp/">3(01)-琉璃神社(神秘代码为磁力)</A>
<DT><A HREF="https://www.sshs.moe/">4-紳士会所へ！</A>
<DT><A HREF="https://www.nyanvo.com/">5-喵窝</A>
<DT><A HREF="https://meidocafe.icu/">6-绅士咖啡厅</A>
<DT><A HREF="http://acg17.com/">7-ACG17 - 宅就宅一起</A>
<DT><A HREF="https://www.jiligame.com/">8-叽哩叽哩(G站)(已注册ABCXVX)</A>
<DT><A HREF="https://bt.cosxcos.cc/">9-CXC星宫BT(免注册)</A>
<DT><A HREF="https://www.acgbox.org/dongman/lifan">10-里番 – ACG盒子(已注ABCXVX)</A>
<DT><A HREF="https://imoe.org/">11-萌の领域(已注册ABCXVX)</A>
<DT><A HREF="https://www.evacg.com/">12-E次元(已注册ABCXVX)</A>
<DT><A HREF="https://www.cyacg.cn/?origin=pi001.com">13(00)-次元ACG发布页(已注册ABCXVX)</A>
<DT><A HREF="https://www.cyacg.us/">13(01)-次元ACG(已注册ABCXVX)</A>
<DT><A HREF="https://mzsacg.com/">14-萌宅社(未注册)</A>
<DT><A HREF="https://acg.la/">15(00)-芯次元(已注册ABCXVX)</A>
<DT><A HREF="https://acg.ge/homepage/">15(01)-芯次元(已注册ABCXVX)</A>
<DT><A HREF="http://www.tiaowan.cn/">萌导航</A>
<DT><A HREF="https://hggard.com/">HGgard - 北紳の庭</A>
<DT><A HREF="https://acg02.com/">次元计划 - 二次元磁力/BT资源下载与搜索</A>
</DL><p>
<DT><A HREF="https://www.36dm.com/">1-简单动漫</A>
<DT><A HREF="https://www.pixiv.net/">2-pixiv(图片网站已注册)</A>
<DT><A HREF="http://www.acgbus.com/">ACG巴士导航</A>
<DT><A HREF="https://www.huabandm.com/">花瓣动漫</A>
<DT><A HREF="https://www.btxqw.com/">比特星球</A>
</DL><p>
<DT><H3>3游戏</H3>
<DL><p>
<DT><A HREF="https://www.bibgame.com/">0-游戏年轮(已注册ABCXVX)</A>
<DT><A HREF="https://www.3dmgame.com/">1-3DM(QQ登陆)</A>
<DT><A HREF="http://www.a9vg.com/">2- A9VG电玩部落(已注册论坛,未注册首页)</A>
<DT><A HREF="https://www.gamersky.com/">3-游民星空(手机注册,QQ登陆)</A>
<DT><A HREF="http://www.duowan.com/">4-多玩游戏网(邮箱登陆)</A>
<DT><A HREF="http://tgbus.com/">5- TGBUS - 电玩巴士(未注册)</A>
<DT><A HREF="https://www.91wii.com/">6-91wii(已注册ABCXVX)</A>
<DT><A HREF="http://forum.slieny.com/">7-翼风综合社区(已注册ABCXVX)</A>
<DT><A HREF="https://2cos.cn/">8-玩家导航 </A>
<DT><A HREF="https://game.ali213.net/forum.php">9-游侠NETSHOW论坛(QQ登陆,已注册ABCXVX)</A>
</DL><p>
<DT><H3>4文件资源(网页模板/设计模板/字体图片)</H3>
<DL><p>
<DT><A HREF="http://www.cxyroad.com/">资源 | 程序员的成长之路</A>
<DT><A HREF="http://www.font5.com.cn/">字体量贩 - 字体下载网站，中文字体下载，英文字体下载，字体网站，字体库下载</A>
<DT><A HREF="https://www.bejson.com/">在线JSON校验格式化工具（Be JSON）</A>
<DT><A HREF="https://github.com/zhaoolee/ChromeAppHeroes">chorm插件  公众号「0加1」同步更新</A>
<DT><A HREF="http://idea.medeming.com/jets/">程序员开发专属激活码，开启程序人生</A>
</DL><p>
</DL><p>
<DT><H3>1-vmk导航</H3>
<DL><p>
<DT><A HREF="http://www.xiacoo.com/">1-虾库网(已注册vmk)</A>
<DT><A HREF="https://www.pi001.com/">2-派导航(已注册vmk/ABCXVX)</A>
<DT><A HREF="https://www.hao123.com/">3-hao123</A>
<DT><A HREF="https://www.ziyuangou.com/">资源狗_资源网站大全_资源网址导航</A>
<DT><A HREF="http://m.daysou.com/">天天网盘搜索-国内优秀网盘资源搜索引擎</A>
<DT><A HREF="http://magnet.chongbuluo.com/">资源搜索 - 网盘搜索</A>
</DL><p>
<DT><H3>2-签到</H3>
<DL><p>
<DT><A HREF="https://acg.ge/homepage/">首页 – 芯次元</A>
<DT><A HREF="https://www.xuepojie.com/">【新提醒】学破解论坛-软件逆向分析工程师的摇篮-懂进攻知防守!</A>
<DT><A HREF="https://18moe.us/">萌次元</A>
<DT><A HREF="https://nicemoe11.com/">好萌动漫NiceMoe</A>
<DT><A HREF="http://www.hmoe.one/">萌幻之乡 – 新的起点</A>
<DT><A HREF="https://www.bibgame.com/">游戏年轮</A>
<DT><A HREF="http://forum.slieny.com/">翼风综合社区</A>
<DT><A HREF="http://www.91wii.com/">91wii</A>
<DT><A HREF="https://fishc.com.cn/forum.php?forumlist=1">鱼C工作室</A>
<DT><A HREF="https://www.52pojie.cn/">吾爱破解</A>
</DL><p>
<DT><H3>3-邮箱</H3>
<DL><p>
<DT><A HREF="https://login.ubuntu.com/">ubuntu</A>
<DT><A HREF="https://mail.aliyun.com/alimail/">阿里邮箱个人版(v_mark@ailyun.com)</A>
<DT><A HREF="https://www.uu.me/">U+(百变帐号已注册2个qq)</A>
<DT><A HREF="https://www.google.com.hk/?gws_rd=ssl">Google</A>
<DT><A HREF="https://www.baidu.com/">百度</A>
<DT><A HREF="https://smart.mail.163.com/login.htm">网易</A>
<DT><A HREF="https://www.microsoft.com/zh-cn/">Microsoft</A>
<DT><A HREF="https://twitter.com/">Twitter</A>
<DT><A HREF="https://www.facebook.com/">Facebook </A>
</DL><p>
<DT><H3>4-手机资源</H3>
<DL><p>
<DT><A HREF="https://www.lanzous.com/b76826">【小轩VIP软件合集】</A>
<DT><A HREF="https://www.lanzous.com/u/wuzuowei">无作为分享：wuzuowei.net - 蓝奏云网盘</A>
<DT><A HREF="https://pjbadh1.club/">【破解吧】官方网站</A>
<DT><A HREF="https://www.lanzous.com/b00z6t7eh">浮力软件库</A>
<DT><A HREF="https://www.lanzous.com/b300653">骚兵软件库</A>
<DT><A HREF="https://www.lanzous.com/b117359">全网软件分享合集</A>
<DT><A HREF="https://www.lanzous.com/b60364/">线报坊软件合集</A>
<DT><A HREF="https://www.lanzous.com/b00enq2md">funny网络</A>
</DL><p>
<DT><H3>5-Warning</H3>
<DL><p>
<DT><H3>导航</H3>
<DL><p>
<DT><A HREF="https://lanfuli.pw/">0-蓝导航</A>
<DT><A HREF="http://lemon3.pw/">1-柠檬导航</A>
<DT><A HREF="http://up1.yoyuuu.com:8880/">2-银色导航</A>
<DT><A HREF="http://2qns.pw/">3-青年涩</A>
<DT><A HREF="https://top171.xyz/">4-Top100导航</A>
<DT><A HREF="http://www.zhaoav0.icu/">找AV123导航</A>
</DL><p>
<DT><H3>无搜索</H3>
<DL><p>
<DT><A HREF="https://www.kie2.com/enter/pc.html">jer0.com</A>
<DT><A HREF="http://www.aaee9.com/">亚洲欧美中文日韩视频</A>
</DL><p>
<DT><H3>有搜索</H3>
<DL><p>
<DT><A HREF="https://yaoshe119.com/">分类国产精品中的视频</A>
<DT><A HREF="http://wuyouav1.icu/?lan">无忧草最新网址发布页</A>
<DT><A HREF="http://2n16.xyz/">空姐模特第一页</A>
<DT><A HREF="http://jiuijiurzx.cf/">久久偷拍资源网站</A>
<DT><A HREF="http://fbwm701.trovand.com:10101/">4-无毛色</A>
<DT><A HREF="https://rxnn.net/">3-激情视频</A>
<DT><A HREF="http://www.b43.cc/">2-精选导航页</A>
<DT><A HREF="https://039tom.com/html/new_index.html">1-汤姆影院</A>
</DL><p>
</DL><p>
<DT><A HREF="http://www.cxyroad.com/">程序员的成长之路(已注册vmk)</A>
<DT><A HREF="https://translate.google.cn/">Google 翻译</A>
</DL>